.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header {
  background-color: #282c34;
  height: auto;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.header-title {
  margin: 0;
  padding: 10px;
}

.container {
  padding: 30px 40px 10px 40px;
  text-align: left;
}

.navigation {
  display: flex;
  padding: 5px;
  color: white;
}

.navigation > a {
  color: white;
  padding: 10px;
}

.navigation > a:hover {
  color: #5e5ee8;
}

.title {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.description {
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}

.link {
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  color: blue;
}

.link:hover {
  color: #5d5dee;
}
